<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>V-Store</h1>
<div th:insert="_menu"/>

<div>
    <h2>Upload AVT</h2>
</div>
<br>
<br><img th:src="'/getImage?name=' + ${session.user.getAvt()}" width="200" height="200">

<form method="post" action="/upAVT" enctype="multipart/form-data" >
    File: <input id="file" name="image" type="file" accept="image/*" /> <br/><br/>
    <input type="submit" value="Up File form disk" />

</form><br><br>

<form method="post" action="/upAVTUrl">
    <input id="url" name="url" type="text" placeholder="URL" />
    <button>Up File form url</button>
</form>
<i><p th:text="${msg}" th:if="${msg ne null}"/></i>
</body>
</html>